body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}

h1 {
  color: #6c6f76;
  font-size: 24px;
  line-height: 26px;
  font-weight: 100;
}
ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  line-height: 16px;
  line-height: 20px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
.weatherApp {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
.container {
  margin: 30px auto;
  max-width: 600px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 8px;
  height: 64px;
  width: 64px;
  float: left;
}

.weather-temp strong {
  font-weight: 400;
  color: #202124;
  font-size: 48px;
  line-height: 60px;
  float: left;
}

.weather-temp .units {
  position: relative;
  color: #202124;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  top: 8px;
}
a {
  text-decoration: none;
}

.weather-temp .active {
  color: #202124;
  cursor: default;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 13px;
}
